.logo-main {
    display:flexbox;
   justify-content: center;
   margin-left: 250px;
   margin-right: 250px;
   margin-top: 80px;
    
    

    width: 400px;
    
}

.main {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 20px;
    padding: 10px;*/
    background: rgb(247, 249, 239);
}